html{
	position: absolute;
	bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow-x:hidden;
}
body{
	font-family: Helvetica, Arial, Verdana;
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	font-family: 'Futura';
	font-size: 16px;
}
h1,h2,h3{
	margin:0;
	font-weight: normal;
}
a{
	color:inherit;
}
h1{
	font-size: 6em;
}
h2{
	font-family: 'Futura Light';
	font-size: 2em;
}
h3{
	text-align: left;
}
.download{
	margin-top:40px;
	margin-bottom: 40px;
	width:250px;
	border-radius: 8px;
	&:hover{
		background: rgba(#FFF, 0.2);
	}
}
.page{
	position:relative;
	margin: 0 auto;
	overflow: hidden;
	height: 100%;
	width:100%;
	// border-bottom: 1px solid red;
	&.beige{
		background:$beige;
	}
	@media #{$mobile} {
		
	}
	.center{
		width:100%;
		// border:1px solid red;
		position:absolute;
		top:50%;
		transform: translate3d(0,-50%,0);
	}
	&.head{
		background: url('../img/bg_large.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		color:#FFF;
	}
	&.foot{
		background: url('../img/bg_large.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		color:#FFF;
		.footer{
			position:absolute;
			bottom:20px;
			width:100%;
		}
		h2{
			font-family: 'Futura';
			font-size: 3em;
		}
		p{
			font-size: 2em;
		}
	}
	.right, .left{
		width:50%;
		height:100%;
		position:absolute;
		top:0;
		right:0;
		// border:1px solid red;
	}
	.left{
		right:auto;
		left:0;
	}
	h3{
		font-size: 2.5em;
		position:absolute;
		width:70%;
		left:50%;
		top:50%;
		transform:translate3d(-50%,-50%,0);
	}
	.phone{
		background: url('../img/01.jpg'), url('../img/iphone.png');
		background-size: auto 75%, auto 100%;
		background-position: center;
		background-repeat: no-repeat;

		left:50%;
		top:50%;
		width:80%;
		transform:translate3d(-50%,-50%,0);

		height:80%;
		overflow:hidden;
		position:absolute;
	}
	&.p2 .phone{
		background: url('../img/02.jpg'), url('../img/iphone.png');
		background-size: auto 75%, auto 100%;
		background-position: center;
		background-repeat: no-repeat;
	}
	&.p3 .phone{
		background: url('../img/03.jpg'), url('../img/iphone.png');
		background-size: auto 75%, auto 100%;
		background-position: center;
		background-repeat: no-repeat;
	}
}